# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [5]:
cars1 = pd.read_csv('C:\\Users\\admin\\Downloads\\cars1.csv')
cars2 = pd.read_csv('C:\\Users\\admin\\Downloads\\cars2.csv')

In [6]:
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

In [7]:
cars2.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [11]:
cars1.drop(cars1.columns[cars1.columns.str.contains('unnamed',case = False)],axis = 1,inplace=True)

In [12]:
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [24]:

print( 'the number of observations of cars1 dataset is {}'.format(len(cars1)))
print( 'the number of observations of cars2 dataset is {}'.format(len(cars2)))

the number of observations of cars1 dataset is 198
the number of observations of cars2 dataset is 200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [29]:
cars = pd.merge(cars1, cars2, how = 'outer', on = None, left_on = None, left_index = False, sort = False, 
                suffixes = ('_x', '_y'), copy = True, indicator = False, validate = None)
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
5,15.0,8,429,198,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454,220,4354,9.0,70,1,chevrolet impala
7,14.0,8,440,215,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455,225,4425,10.0,70,1,pontiac catalina
9,15.0,8,390,190,3850,8.5,70,1,amc ambassador dpl
10,15.0,8,383,170,3563,10.0,70,1,dodge challenger se
11,14.0,8,340,160,3609,8.0,70,1,plymouth 'cuda 340
12,15.0,8,400,150,3761,9.5,70,1,chevrolet monte carlo
13,14.0,8,455,225,3086,10.0,70,1,buick estate wagon (sw)
14,24.0,4,113,95,2372,15.0,70,3,toyota corona mark ii
15,22.0,6,198,95,2833,15.5,70,1,plymouth duster
16,18.0,6,199,97,2774,15.5,70,1,amc hornet
17,21.0,6,200,85,2587,16.0,70,1,ford maverick
18,27.0,4,97,88,2130,14.5,70,3,datsun pl510
19,26.0,4,97,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan
20,25.0,4,110,87,2672,17.5,70,2,peugeot 504
21,24.0,4,107,90,2430,14.5,70,2,audi 100 ls
22,25.0,4,104,95,2375,17.5,70,2,saab 99e
23,26.0,4,121,113,2234,12.5,70,2,bmw 2002
24,21.0,6,199,90,2648,15.0,70,1,amc gremlin
25,10.0,8,360,215,4615,14.0,70,1,ford f250
26,10.0,8,307,200,4376,15.0,70,1,chevy c20
27,11.0,8,318,210,4382,13.5,70,1,dodge d200
28,9.0,8,304,193,4732,18.5,70,1,hi 1200d
29,27.0,4,97,88,2130,14.5,71,3,datsun pl510
...,...,...,...,...,...,...,...,...,...
368,27.0,4,112,88,2640,18.6,82,1,chevrolet cavalier wagon
369,34.0,4,112,88,2395,18.0,82,1,chevrolet cavalier 2-door
370,31.0,4,112,85,2575,16.2,82,1,pontiac j2000 se hatchback
371,29.0,4,135,84,2525,16.0,82,1,dodge aries se
372,27.0,4,151,90,2735,18.0,82,1,pontiac phoenix
373,24.0,4,140,92,2865,16.4,82,1,ford fairmont futura
374,23.0,4,151,?,3035,20.5,82,1,amc concord dl
375,36.0,4,105,74,1980,15.3,82,2,volkswagen rabbit l
376,37.0,4,91,68,2025,18.2,82,3,mazda glc custom l
377,31.0,4,91,68,1970,17.6,82,3,mazda glc custom
378,38.0,4,105,63,2125,14.7,82,1,plymouth horizon miser
379,36.0,4,98,70,2125,17.3,82,1,mercury lynx l
380,36.0,4,120,88,2160,14.5,82,3,nissan stanza xe
381,36.0,4,107,75,2205,14.5,82,3,honda accord
382,34.0,4,108,70,2245,16.9,82,3,toyota corolla
383,38.0,4,91,67,1965,15.0,82,3,honda civic
384,32.0,4,91,67,1965,15.7,82,3,honda civic (auto)
385,38.0,4,91,67,1995,16.2,82,3,datsun 310 gx
386,25.0,6,181,110,2945,16.4,82,1,buick century limited
387,38.0,6,262,85,3015,17.0,82,1,oldsmobile cutlass ciera (diesel)
388,26.0,4,156,92,2585,14.5,82,1,chrysler lebaron medallion
389,22.0,6,232,112,2835,14.7,82,1,ford granada l
390,32.0,4,144,96,2665,13.9,82,3,toyota celica gt
391,36.0,4,135,84,2370,13.0,82,1,dodge charger 2.2
392,27.0,4,151,90,2950,17.3,82,1,chevrolet camaro
393,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97,52,2130,24.6,82,2,vw pickup
395,32.0,4,135,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120,79,2625,18.6,82,1,ford ranger
397,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [31]:
owners = [i for i in np.random.randint(15000, 73000, (len(cars)-1))]
owners

[37540,
 64902,
 50737,
 21269,
 34806,
 45781,
 31454,
 62126,
 27691,
 41154,
 17128,
 48904,
 62381,
 66748,
 17478,
 25874,
 43204,
 16011,
 38345,
 24902,
 35004,
 23368,
 22146,
 29489,
 34571,
 59510,
 62410,
 66384,
 24854,
 45446,
 25374,
 42070,
 48563,
 51057,
 41731,
 55680,
 31315,
 34402,
 58098,
 24077,
 69281,
 59516,
 62808,
 35272,
 15443,
 61707,
 43842,
 42459,
 31795,
 22445,
 43614,
 31373,
 71149,
 35532,
 45481,
 61671,
 38241,
 71865,
 22930,
 34215,
 70416,
 38089,
 26684,
 43248,
 69790,
 59947,
 24999,
 18918,
 48358,
 66703,
 51882,
 51590,
 15690,
 56949,
 66422,
 18062,
 16513,
 30615,
 15477,
 48864,
 67902,
 50183,
 22412,
 32451,
 28013,
 37685,
 17406,
 63425,
 49271,
 45679,
 54709,
 63515,
 59345,
 39806,
 51047,
 35720,
 65912,
 67763,
 46935,
 19601,
 48498,
 43447,
 19791,
 45625,
 37361,
 29778,
 67674,
 46192,
 35263,
 52395,
 49718,
 53040,
 18976,
 36902,
 59025,
 28067,
 44332,
 71428,
 15102,
 45180,
 29212,
 21604,
 19795,
 70799,
 23965,
 53889,
 23081,
 27405,
 65830,
 59845,
 72891,
 71180,
 32243,
 40296,
 50181,
 35530,
 53449,
 59603,
 32360,
 55043,
 15754,
 20001,
 63556,
 42746,
 40395,
 55896,
 64106,
 70210,
 18309,
 57294,
 42597,
 54400,
 30496,
 71577,
 33300,
 62897,
 47526,
 31742,
 22724,
 17169,
 41168,
 57156,
 35732,
 24518,
 57339,
 29304,
 32605,
 21793,
 26355,
 66853,
 50898,
 26595,
 28620,
 19137,
 38403,
 58056,
 17022,
 32972,
 45306,
 57295,
 15077,
 25136,
 51229,
 16224,
 69880,
 24350,
 31469,
 50109,
 16052,
 58202,
 54891,
 33958,
 30088,
 34173,
 21029,
 64525,
 52458,
 23513,
 16026,
 35762,
 50120,
 29505,
 43888,
 16262,
 72769,
 35270,
 65131,
 37461,
 18635,
 49886,
 56194,
 20995,
 38820,
 20442,
 56580,
 68732,
 60124,
 62513,
 54942,
 44847,
 55490,
 53601,
 44747,
 46657,
 68125,
 64158,
 42321,
 22276,
 23384,
 30891,
 17513,
 45914,
 20213,
 28821,
 30928,
 15539,
 36120,
 41158,
 64255,
 64718,
 33347,
 23488,
 33452,
 32305,
 38308,
 35127,
 57844,
 69026,
 60366,
 52280,
 16075,
 38918,
 48286,
 34176,
 22556,
 55701,
 45621,
 18481,
 34556,
 16408,
 41079,
 26312,
 15398,
 15942,
 27899,
 59101,
 19886,
 23874,
 67209,
 39766,
 72345,
 27660,
 49448,
 58019,
 57427,
 18734,
 20373,
 60817,
 52564,
 41476,
 45499,
 37322,
 64550,
 35753,
 19254,
 53557,
 65165,
 42201,
 56852,
 62765,
 47125,
 17424,
 45649,
 43459,
 21431,
 41389,
 15169,
 35903,
 16512,
 59938,
 55864,
 56794,
 35006,
 26082,
 22121,
 55689,
 55378,
 58933,
 35659,
 22421,
 23773,
 26863,
 59851,
 68341,
 55980,
 39914,
 50185,
 66468,
 60453,
 72061,
 30833,
 19614,
 70671,
 25157,
 26047,
 63507,
 23677,
 34468,
 21683,
 67620,
 32352,
 18936,
 53770,
 72368,
 43310,
 19357,
 54279,
 52505,
 63416,
 62422,
 43817,
 30523,
 44741,
 19668,
 38703,
 71795,
 66324,
 59635,
 57071,
 46877,
 26920,
 33920,
 45653,
 45513,
 20828,
 58093,
 46170,
 68725,
 56053,
 28890,
 57554,
 66175,
 21251,
 28127,
 16268,
 38083,
 17590,
 66949,
 64480,
 30289,
 41117,
 23197,
 42936,
 57762,
 53171,
 40037,
 45613,
 55017,
 72571,
 56386,
 61168,
 36237,
 50391,
 63890,
 67099,
 55617,
 61757,
 43109,
 67781,
 61285,
 16484,
 54219,
 31550,
 56293,
 25011,
 63226,
 39350]

### Step 8. Add the column owners to cars

In [33]:
cars=pd.concat([cars, pd.DataFrame({'owners': owners})], axis = 1, join = 'outer')
cars.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,37540.0
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,64902.0
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,50737.0
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,21269.0
4,17.0,8,302,140,3449,10.5,70,1,ford torino,34806.0
5,15.0,8,429,198,4341,10.0,70,1,ford galaxie 500,45781.0
6,14.0,8,454,220,4354,9.0,70,1,chevrolet impala,31454.0
7,14.0,8,440,215,4312,8.5,70,1,plymouth fury iii,62126.0
8,14.0,8,455,225,4425,10.0,70,1,pontiac catalina,27691.0
9,15.0,8,390,190,3850,8.5,70,1,amc ambassador dpl,41154.0